*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

:root{
    --gutter: 20px;
}

.container{
    max-width: 1200px;
	margin: 0 auto;
	padding: 0 calc(var(--gutter) / 2);
}


.style{
	background-color: lightblue;
	color: white;
	border: 1px solid white;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 calc(var(--gutter) / 2 -1);
}

.col {
    height: 40px;
	flex-grow: 1;
	max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row > * {
	padding: 0 calc(var(--gutter) / 2 -1);
}

.nest-item{
    background-color: lightgreen;
	color: white;
	border: 1px solid white;
    height: 20px;
}

.nest-container{
    padding: 10px;
}

section{
    margin-bottom: 50px;
}

.draw-white{
    background-color: white;
}

/* /////dimensioni col////// */

.col1 {
	flex-basis: calc((100% / 12) * 1);
}

.col2 {
	flex-basis: calc((100% / 12) * 2);
}

.col3 {
	flex-basis: calc((100% / 12) * 3);
}

.col4 {
	flex-basis: calc((100% / 12) * 4);
}

.col5 {
	flex-basis: calc((100% / 12) * 5);
}

.col6 {
	flex-basis: calc((100% / 12) * 6);
}

.col7 {
	flex-basis: calc((100% / 12) * 7);
}

.col8 {
	flex-basis: calc((100% / 12) * 8);
}

.col9 {
	flex-basis: calc((100% / 12) * 9);
}

.col10 {
	flex-basis: calc((100% / 12) * 10);
}

.col11 {
	flex-basis: calc((100% / 12) * 11);
}

.col12 {
	flex-basis: calc((100% / 12) * 12);
}

/* /////Offset////// */

.col1-offset {
	margin-left: calc((100% / 12) * 1);
}

.col2-offset {
	margin-left: calc((100% / 12) * 2);
}

.col3-offset {
	margin-left: calc((100% / 12) * 3);
}

.col4-offset {
	margin-left: calc((100% / 12) * 4);
}

.col5-offset {
	margin-left: calc((100% / 12) * 5);
}

.col6-offset {
	margin-left: calc((100% / 12) * 6);
}

.col7-offset {
	margin-left: calc((100% / 12) * 7);
}

.col8-offset {
	margin-left: calc((100% / 12) * 8);
}

.col9-offset {
	margin-left: calc((100% / 12) * 9);
}

.col10-offset {
	margin-left: calc((100% / 12) * 10);
}

.col11-offset {
	margin-left: calc((100% / 12) * 11);
}
